{{> head }}
{{> navbar }}

<main>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-7">
                <h1>Star wars</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima placeat id commodi amet accusamus nulla
                nobis, repudiandae sequi maxime voluptate reprehenderit aspernatur necessitatibus repellendus aliquam
                fuga qui nesciunt veniam illo.
            </div>
            <div class="col-md-5">
                <img src="assets/img/logo.png" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>

</main>

{{> footer }}